<div *ngIf="!authenticated">
  <app-log-in *ngIf="useLogin"></app-log-in>
  <app-register *ngIf="!useLogin"></app-register>
</div>
<div *ngIf="quizzes && categories && authenticated" [ngClass]="'toggle'" class="d-flex" id="wrapper">

  <!-- Sidebar -->


  <app-side-bar *ngIf="toggle=='toggled'" [categories]="categories" [quizzes]="quizzes"></app-side-bar>


  <div id="page-content-wrapper">

    <!-- Top nav bar -->
    <app-nav-bar></app-nav-bar>


    <!-- Content -->
    <div class="container-fluid">

      <router-outlet></router-outlet>

    </div>

    <!-- Footer
<app-footer></app-footer>
-->
  </div>

</div>

